package views

templ HomeView() {
	@AppLayout() {
		<h1>Hello to home</h1>
		if LoggedIn(ctx) {
			<div>
				<b>Name: </b><span>{ User(ctx).Name }</span>
			</div>
			<div>
				<b>Email: </b><span>{ User(ctx).Email }</span>
			</div>
			<div>
				<a href="/todos">Todos</a>
			</div>
		} else {
			<a href="/login">Login</a>
		}
	}
}
